.App {
    text-align: center;
    font-family: "Noto Serif Telugu", serif;
}

.main-page-icon {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin: 100px auto 30px auto;
    display: flex;
    align-items: center;
    color: white;
}

.main-body {
    margin: auto;
}
