.Dictionary {
    text-align: center;
}

.Dictionary h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #3e4149;
}

.Dictionary section {
    background-color: white;
    border-radius: 1rem;
    padding: 1.2rem;
    min-width: 60%;
    max-width: 80%;
    margin: 4% auto;
}

.helper-text {
    font-size: 0.9rem;
}

.btn-format:hover {
    background-color: #ffc8c8;
    color: #3e4149;
}

.search-icon {
    font-size: 1.2rem;
}
